<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Default Title{% endblock %}</title>
  </head>
  <body>
    {% include 'src/partials/nav.njk'%}
      <div class="container">
          {% block content %}
          {% endsection %}
       </div> 
    {% include 'src/partials/footer.njk'%}   
    </body>
</html>